<h1>about this coding dojo</h1>

<br />
Date:
<strong><%= @session.date %></strong>

<br />
Start time:
<strong><%= @session.start_time.strftime("%H:%M") %></strong>

<br />
End time:
<strong><%= @session.end_time.strftime("%H:%M") %></strong>

<br /><br />
<strong>Comments:</strong>
<br /><%= @session.description %>

<br /><br />
<strong>Attendees:</strong>
<% @session.users.each do |user| %>
    <br /><%= user.enterprise_id %>
<% end %>

<br /><br />
<%= link_to 'Back', sessions_path %>
