<!DOCTYPE html>
<html>
<head>
  <title>atag coding dojos</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
	<div id="menu">
		<ul>
			<li class="current_page_item"><a href="/home">home</a></li>
			<li><a href="/sessions">sessions</a></li>
			<li><a href="#">photos</a></li>
			<li class="last"><a href="#">about</a></li>
		</ul>
    </div>
</div>

<div id="user_nav">
    <% if current_user %>
        hello <%= current_user.enterprise_id %>!!
        (<%= link_to "log out", logout_path %>)
    <% else %>
        <%= link_to "sign up", signup_path %> or
        <%= link_to "log in", login_path %>
    <% end %>
</div>

<div id="logo">
	<h1>atag coding dojos </h1>
	<h2>because practice makes perfection...</h2>
</div>

<div id="banner"></div>

<div id="page">
    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>

    <%= yield %>
</div>

<div id="footer">
	<p id="legal">( c ) 2011. ATAG. All Rights Reserved.</p>
</div>

</body>
</html>
